body {
    height: 100vh;
    background-image: url(../img/Background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}